[submodule "pack/plugins/start/vimwiki"]
	path = pack/plugins/start/vimwiki
	url = git@github.com:vimwiki/vimwiki.git
[submodule "pack/plugins/start/plenary.nvim"]
	path = pack/plugins/start/plenary.nvim
	url = git@github.com:nvim-lua/plenary.nvim.git
[submodule "pack/plugins/start/telescope.nvim"]
	path = pack/plugins/start/telescope.nvim
	url = git@github.com:nvim-telescope/telescope.nvim.git
[submodule "colors/onedark.nvim"]
	path = colors/onedark.nvim
	url = git@github.com:navarasu/onedark.nvim.git
[submodule "pack/colors/start/onedark.nvim"]
	path = pack/colors/start/onedark.nvim
	url = git@github.com:navarasu/onedark.nvim.git
[submodule "pack/plugins/start/vim-easycomplete"]
	path = pack/plugins/start/vim-easycomplete
	url = git@github.com:jayli/vim-easycomplete.git
[submodule "pack/plugins/start/vim-commentary"]
	path = pack/plugins/start/vim-commentary
	url = git@github.com:tpope/vim-commentary.git
